
.progressbar {
   border:1px solid #ccc;width: 600px;margin-bottom:4px;
}
.getblur{
background: none repeat scroll 0% 0% rgb(0, 0, 0); position: fixed; height: 100%; width: 100%; z-index: 999; top: 0px; opacity: 0.5;
}
.percentbars { border:3px solid #000;width: 600px;margin-bottom:4px; min-height: 100px; padding: 10px;background: none repeat scroll 0 0 #fff;}
.showborder{border:1px solid #ccc;width: 600px;margin-bottom:4px;}
#mdiv { width: 500px;height: 20px;position: fixed;top: 50%;left: 50%;margin: -10px 0 0 -250px; z-index:999}
#progress {background-image:url(../../images/pbar-ani.gif);}
#addbutton{margin-left:-38px;}
#validateData{margin-top:14px;}
#previewData{margin-top:14px;}
