<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="bulk_tool" label="COM_IMP_LABEL_TAB_ONE">			
		<field
			name="pf_batch_size"
			type="number"
			label="COM_IMP_POST_FETCH_BATCH_SIZE_LABEL"
			description="COM_IMP_POST_FETCH_BATCH_SIZE_DES"
			default="10"
			min="5"
			max="25"
		/>
		<!--
		<field
			name="toggle_field_types"
			type="textarea"
			default=""
			label="Toggle field types"
			description=""
			rows="5"
			cols="5"
			filter="raw"
		/>
		-->
	</fieldset>
</config>
